@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  format: ("ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf");
  format: ("ttf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf");
  format: ("ttf");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

html {
    font-family: "Poppins";
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

